/* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Encabezado */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a242b;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

header .logo span {
  font-size: 24px;
  font-weight: bold;
}

header .header-buttons {
  display: flex;
  gap: 10px;
}

header .header-buttons button {
  background-color: #1a242b;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

header .header-buttons button:hover {
  background-color: #15425e;
}

/* Contenedor de imagen */
.image-container {
  text-align: center;
  margin: 30px 0;
}

.centered-image {
  width: 60%; /* Ajusta según el tamaño deseado */
  max-width: 300px; /* Limita el tamaño máximo */
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.centered-image:hover {
  transform: scale(1.05);
}

/* Texto informativo */
.info-text {
  text-align: center;
  font-size: 18px;
  margin: 10px 0;
  color: #000000;
}

/* Contenedor de botones */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: #1a242b;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  width: 80%;
  max-width: 600px;
}

/* Estilos de los botones */
button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #15425e;
  color: rgb(255, 255, 255);
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2980b9;
}

/* Pie de página */
footer {
  background-color: #15425e;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: auto;
}